{% extends "blog/base.html" %}

{% block header %}{% endblock header %}

{% block content %}
 <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-14 mx-auto">
       <div class="page-heading">
         <h1>About Thomas</h1>
         <span class="subheading">Clichees & Sterotypes</span>
       </div>
      </div>
    </div>
 </div>
</header>

<!-- Main Content -->
<div class="container">
 <div class="row">
    <div class="col-lg-12 col-md-14 mx-auto">
        <p>Your probably wondering where the hell you are right now in the jungle that is the World Wide Web! No need to be afraid am not currently stealing your cookies and cleaning out your bank account :)</p>
        <p>My name is Thomas and I am currently trying my hardest to learn programming and web development…. It’s not easy, but its fun!</p>
        <p>I am and have been for the past 8 years working in the service industry or to put it more  accurately in the trenches of Normandy. It’s challenging work at times, dealing with volumes of people is never easy but I have gained much experience in the subtle art of the human interaction.</p>
        <p>I started my programming journey in order to solve problems and make my work as a manager easier (I am kind of lazy….but in a good way). Little did I know I would actually start to enjoy it so much, programming can become quite additive just ask my wife. So much so that I am now currently studying computer science at DIT.</p>
        <p>Since entering the world of web development I have had the pleasure to meet some of the most amazing individuals who have taken the time to sit down and help me along way. So I decided that its about time that I paid that forward and so this blog was born. </p>
        <p>I hope that you might find some worth in the articles I publish and that any of you aspiring to become programmers or hobbyists don’t make the same mistakes I did. </p>
        <p>Dedicated to Denis & Fabio for all the help as well as future help in Python & Django ;)</p>
    </div>
 </div>
</div>

{% endblock %}
